<h1>Welcome to OctoAlert</h1>
<h2>The inbox for Github Notifications</h2>
<p>
  OctoAlert supercharges your Github email notifiations. Create an account to get a unique email.
</p>

<% unless current_user %>
  <h3>
    <%= link_to 'Create an account', signup_path %>
  </h3>
  <p>
    <%= link_to 'Log in', login_path %>
  </p>
<% end %>
